@import url(../reset.css);


a{
    text-decoration: none;
    color: black;
}


 /* --------------- 主視覺區 --------------- */
.main_slogan{
    position: relative;
    /* border: 1px solid black; */
}

.main_slogan::after{ /*偽元素撐開高度用*/
    content: "";
    display: block;
    height: 550px;
    
}

.main_image{
    width: 950px;
    height: 550px;
    background-image: url(./img/photo/banner/new/indexPic.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5rem 0 0 5rem;
}

.slogan{
    background-color:#FFF8E5;
    padding: 2rem;
    border-radius: 0 3rem 3rem 0;
    position: absolute;
    top: 20rem;
}


.name_anime{
    display: flex;
}


.slogan .name_anime h1{
    color: #BD8E3D;
    margin-bottom: 0.8rem;
}

/* 山山兩個字的動畫效果 */
.name_anime h1:first-child{
    animation: shan1 1s linear 5 forwards;
}

.name_anime h1:last-child{
    animation: shan2 1s linear .5s 5 forwards;
}

@keyframes shan1 {
    0%{
        transform: translateY(0) scaleX(1);
    }
    50%{
        transform: translateY(-1rem) scaleX(1.2) ;
    }
    100%{
        transform: translateY(0rem) scaleX(1);
    }
}

@keyframes shan2 {
    0%{
        transform: translateY(0) scaleX(1) ;
    }
    50%{
        transform: translateY(-1rem) scaleX(1.2) ;
    }
    100%{
        transform: translateY(0rem) scaleX(1);
    }
}


.slogan p{
    font-size: 2.4rem;
    line-height: 120%;

}

.slogan p:last-child{
    font-size: 1.8rem;
    line-height: 160%;
    margin-top: 2.4rem;

}


/* -------------- 理念區塊 -------------- */
.idea{
    position: relative;
    height: 40rem;
    /* border:  1px solid orange; */
}

.idea::before{
    content: "";
    display: block;
    width: 120rem;
    height: 40rem;
    background-image: url(img/slogan背景.avif);
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 20%;

}

.idea p {
    /* border: 1px solid red; */
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 2.4rem;
    line-height: 200%;
    font-weight:500;

    position: absolute;
    top: 11.8rem;
    left: 18.7rem;

    background-color: rgba(255, 255, 255, 0.5);
}



/* -------------- 服務項目區塊 -------------- */

.service{
    /* width: 120rem; */
    /* height: 70rem; */
    display: flex;
    justify-content: center;
    padding: 48px;
    box-sizing: border-box;

    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
    
    z-index: 0;
}

.service ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */

    
}

.service ul::before{
    content: "";
    display: block;
    width: 77.7rem;
    height: 77.7rem;

    background-image: url(img/sun.svg);
    background-position: center;
    background-size: contain;

    position: absolute;
    top: -30rem;
    left: -30rem;
    z-index: -1;

    animation: sun 5s linear infinite;
}

@keyframes sun{
    0%{
        transform: scale(1);
        
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.service ul li{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    
}


.serviceImg{
    display: block;
    width: 30rem;
    height: 30rem;
    /* border: 1px solid black; */
    border-radius: 50%;
}

.leftside_img{
    gap:3.2rem
}

.leftside_img1{
    background-image: url(img/conseling.avif);
    background-size:cover;
    background-position: center;

}

.leftside_img2{
    background-image: url(img/painting.avif);
    background-size: cover;
    background-position: 30% 50%;
}

.center_img1{
    background-image: url(img/exercise.avif);
    background-size: cover;
    background-position: 20% 50%;
}



.yellowbird{
    display: block;
    height: 6.5rem;
    width: 6.5rem;
    margin-right: 1.2rem;
}

.rightside_info ol{
    /* border: 1px solid orange; */
    margin-left: 7.2rem;

}

.rightside_info ol li{
    display: flex;
    flex-direction: row;

}

.rightside_info ol h2{
    line-height: 6.5rem;
}

.rightside_info ol p{
    font-size: 2.4rem;
    line-height: 120%;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
}

.rightside_info ol a{
    /* border: 1px solid purple; */

    display: block;
    width: 12rem;
    height: 10rem;
    color:#FFF8E5;
    font-size: 2.4rem;
    text-align: center;
    line-height: 10rem;  
    background-image: url(img/indexmoremore.svg);
    background-size:contain;   
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;

    position: relative;
}



.rightside_info ol a::after{
    content: "";
    display: block;
    width: 10rem;
    height: 12rem;
    background-image: url(img/indexmoremoreAni.svg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: -8%;
    left: 8%;

    animation: btna 3s linear infinite;
}

@keyframes btna {
    0%{
        transform: rotate(0deg) ;
    }
    50%{
        transform: rotate(180deg) ;
    }
    100%{
        transform: rotate(360deg) ;
    }
}




.rightside_info ol a:hover{
    animation: ahover 0.5s linear forwards ;
}

@keyframes ahover {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.rightside_info ol a:hover::after{
    animation: btn1 5s linear infinite;
}


@keyframes btn1 {
    0%{
        transform: rotate(0deg) ;
    }
    50%{
        transform: rotate(-180deg) ;
    }
    100%{
        transform: rotate(-360deg) ;
    }
}




/* -------------- 團隊介紹區塊重寫 -------------- */
.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 9.6rem 0;

    padding: 0 24px;
    box-sizing: border-box;
}

.bluebird{
    width: 65px;
}

.team_left_title{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


.team_left_info > p{
    font-size: 2.4rem;
    line-height: 120%;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
}

.team_left_info > a{
    display: block;
    width: 12rem;
    height: 10rem;
    color:#FFF8E5;
    font-size: 2.4rem;
    text-align: center;
    line-height: 10rem;  
    background-image: url(img/indexmoremore.svg);
    background-size:contain;   
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;

    position: relative;
}

.team_left_info > a::after{
    content: "";
    display: block;
    width: 10rem;
    height: 12rem;
    background-image: url(img/indexmoremoreAni.svg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: -10%;
    left: 8%;

    animation: btna 3s linear infinite;
}


.team_left_info a:hover{
    animation: ahover 0.5s linear forwards ;
}

.team_left_info a:hover::after{
    animation: btn1 5s linear infinite;
}


/*右側名片*/
.cardWindow{
    width: 540px;
    overflow: hidden;
    border: 3px solid #F0CA3B;
    border-radius: 50px;
    background-color: #FFF8E5;
}

.cards{
    display: flex;
    align-items: center;
}


.manberCardsTotal{
    width: 540px;
    display: flex;

    transition: transform 0.5s ease;
}


.manberCard{
    padding: 40px;
    width: 540px;
    box-sizing: border-box;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
    flex-shrink: 0;
}

.manberCard img{
    width: 16rem;
    height: 20rem;
    object-fit: cover;
}
.manberCard p{
    font-size: 1.8rem;
    line-height: 160%;
    padding-top: 2.4rem;
    color: #F6A89E;
    font-weight: 300;
}

.manberNameTitle{
    display: flex;
    align-items: end;
    gap: 1.2rem;
}

.manberNameTitle h2{
    font-weight:400;
    /* transform: translateX(-30px); */
}

.manberNameTitle h3{
    color: hsl(38, 51%, 49%);
}

.teams button{
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

/*JS用來取消button的*/
.btnHide{
    color: white;
    pointer-events: none;
    
}

/*-------------- 環境介紹區塊 --------------*/
.environmentInfo{
    padding: 2.4rem 0 12rem 0;
    display: flex;
    flex-direction: column;
    gap: 4.8rem ;
}


/* 環境上方區 */
.envirnment_up{
    /* padding-left: 12rem; */
}

.envirnment_up ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.8rem ;
    padding: 0 24px;
    box-sizing: border-box;
}

.envirnment_up ul p{
    font-size: 2.4rem;
    line-height: 120%;
    color: #BD8E3D;
}

.envirnment_up ul li:last-child{
    display: flex;
    align-items: center;
}





/* 環境下方區 */
.environment_down{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem ;
    padding: 0 24px;
    box-sizing: border-box;
} 

.environmentWindow{
    overflow: hidden;
    width: 948px;
}

.environment_down ul{
    /* border: 1px solid gray; */
    align-items: center;

    display: flex;
    gap: 24px;
}

.environment_down ul li{
    flex-shrink: 0;

    width: 300px;
    height: 225px;
    border-radius: 30px;

    display: flex;
    align-items: end;

}

.environment_down button{
    cursor: pointer;
    background: none;
    border: none;
}

.en1{
    background-image: url(./img/photo/envirnment/ChatGPT\ Image\ 2025年7月5日\ 上午01_09_05.png);
    background-size: cover;
}

.en2{
    background-image: url(./img/photo/envirnment/ChatGPT\ Image\ 2025年7月5日\ 上午12_41_03.png);
    background-size: cover;
}

.en3{
    background-image: url(./img/photo/envirnment/toliet.jpg);
    background-size: cover;
}

.en4{
    background-image: url(./img/photo/envirnment/bigroom.jpg);
    background-size: cover;
}

.en5{
    background-image: url(./img/photo/envirnment/ChatGPT\ Image\ 2025年7月5日\ 上午01_13_48.png);
    background-size: cover;
}

.en6{
    background-image: url(./img/photo/envirnment/OT2.jpg);
    background-size: cover;
}



.environment_down ul li h3{
    background-color: rgba(25, 25, 25, 0.5);
    color: #fff;
    text-align: center;
    line-height: 40px;

    border-radius: 0 0 30px 30px;
    flex-grow: 1;
}




/*-------------- 中間雲朵動畫 --------------*/
.cloudanime{
    /* border: 1px solid violet; */
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.cloudanime::after{
    content: "";
    display: block;
    height: 20rem;
    
}


.smallcloud{
    height: 15rem;

    position: absolute;
    left: 25%;

    animation: scloud 5s linear 0.2s infinite ;
}

.bigcloud{
    height: 20rem;
    order: 2;

    position: absolute;
    right: 25%;

    animation: bcloud 5s linear 0.2s infinite;
}


/* 期望滑下來時雲才開始動,之後用JS調整? */
@keyframes scloud{
    0%{
        left: 25%;
    }
    50%{
        left: 0%;
    }
    100%{
        left: 25%;
    }
}
@keyframes bcloud{
    0%{
        right: 25%;
    }
    50%{
        right: 0%;
    }
    100%{
        right: 25%;
    }
}



.cloudanime p{
    font-size: 2.4rem;
    color: #BD8E3D;
    text-align: center;
}




/*-------------- 最新消息區塊 --------------*/
.news{
    padding: 10rem 0 12rem;
    background-image: linear-gradient(to top, #FFF8E5 , #fff) ;
}

.news ul{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items:start;
    gap: 7.2rem;

    padding: 0 24px;
    box-sizing: border-box;

    
}

.news ul > li:first-child{
    display: flex;
    flex-direction: column;
    gap: 8.8rem ;
}

.news ul > li:first-child .news_title{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content:end;
}

.news ul > li:first-child > img{
    width: 30rem;

}


/* 文章列表 */
.articlelist{
    display: flex;
    flex-direction: column;
    gap: 2.4rem ;    
}

.articlelist a{
    padding-bottom: 1.2rem;
    position: relative;
    overflow: hidden;
}

.articlelist ol{
    

    display: flex;
    gap: 3.6rem;
}

.articlelist ol li{
    gap: 0.8rem;
}

.date{
    font-size: 2.4rem;
    line-height: 120%;
}

.articlelist ol h3{
    margin-bottom: 0.8rem;
}

.articlelist ol p{
    color: #BD8E3D;
    font-size: 1.6rem;
    line-height: 160%;
}

/* 文章連結hover效果 */
.articlelist a:hover::after{
    content: "";
    display: block;
    width: 100%;
    border:  0.1px solid #BD8E3D;

    position: absolute;
    bottom: 0;

    animation:  borderline 1s linear forwards;
}

@keyframes borderline{
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}

.articlelist ol:hover h3{
    color: #F0CA3B;
    font-weight: 500;
    /* font-size: 3.6rem; */
}

.articlelist ol:hover p{
    color:#F6A89E ;
}

.articlelist ol:hover li{
    color: #F0CA3B;
}


/* more按鈕 */

.news .morebtn a{
    /* border: 1px solid purple; */

    display: block;
    width: 12rem;
    height: 10rem;
    color:#FFF8E5;
    font-size: 2.4rem;
    text-align: center;
    line-height: 10rem;  
    background-image: url(img/indexmoremore.svg);
    background-size:contain;   
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;  /*因為設了這個才那麼剛好被推到右邊的!*/
    margin-top: 1.2rem;

    overflow:visible;
    position: relative;
}

.news .morebtn a::after{
    content: "";
    display: block;
    width: 10rem;
    height: 12rem;
    background-image: url(img/indexmoremoreAni.svg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: -5%;
    left: 8%;

    animation: btna 3s linear infinite;

    
}




.news .morebtn a:hover{
    animation: ahover 0.5s linear forwards ;
}

@keyframes ahover {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.news .morebtn a:hover::after{
    animation: btn1 5s linear infinite;
    border: none;
}












/*-------------- 活動照片集錦 --------------*/
.activityPhotos{
    /* border: 1px solid red; */

    background-color: #FFF8E5;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0 0 12rem 0;

    overflow: hidden;

    position: relative;
}

.photo_title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo_title img{
    width: 6.5rem;
}


/* 跑馬燈 畫面一開始有呈現的 之後會停在外面*/
.marquee{
    width: 129.6rem;
    padding: 2rem 2rem 2rem 0;
    /* border: 1px solid blue; */
    background-color: #fff;
    display: flex;
    gap: 2.4rem ;
    

    animation: marquee 15s linear forwards;
}

.marqueelist img{
    display: block;
    width: 24rem;
    height: 18rem;
    border-radius: 2rem;
    flex-grow: 1;
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}



/* 持續的跑馬燈效果 */
.marquee2{
    width: 129.6rem;
    padding: 2rem 2rem 2rem 0;
    /* border: 1px solid blue; */
    background-color: #fff;
    display: flex;
    gap: 2.4rem ;
    
    position: absolute;
    top: 8.9rem;
    left: 1316px;

    animation: marquee2 30s linear infinite;
}


@keyframes marquee2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}

/* 為了讓跑馬燈持續 緊跟在marquee2後面 */
.marquee3{
    width: 129.6rem;
    padding: 2rem 2rem 2rem 0;
    /* border: 1px solid rgb(255, 102, 0); */
    background-color: #fff;
    display: flex;
    gap: 2.4rem ;
    
    position: absolute;
    top: 8.9rem;
    left: 1316px;

    animation: marquee3 30s linear 15S infinite;
}

@keyframes marquee3{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}



/* hover效果 讓三個跑馬燈都不要動 */
.marqueelist:hover .marquee{
      animation-play-state: paused;
}

.marqueelist:hover .marquee2{
      animation-play-state: paused;
}

.marqueelist:hover .marquee3{
      animation-play-state: paused;
}




/*漢堡左邊遮罩*/
.mask{
    width: 50vw;
    height: 100vh;
    background-color: #ffffffa4;

    position: absolute;
    top: 60px;
    left: 0;
}



/*----------------RWD----------------*/
@media screen and ( max-width: 821px) {
.main_image, .main_slogan{
    height: 40vw;
}


.slogan{
    top: 20%;
}

.main_slogan::after{
    height: 60vh;
}

.idea{
    height: 40vw;
}

.idea::before{
    width: 100vw;
    height: 40vw;
}    
.idea p{
    width: 85%;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.service{
    width: 100%;
}

.serviceImg{
    width: 20vw;
    height: 20vw;
}

.service ul::before{
    /* animation: none; */
    width: 500px;
    height: 500px;
    top: -40%;
    left: -10%;
}

.rightside_info ol p{
    font-size: 20px;
}

.br1{
    display: none;
}

/*-------RWC團隊-----*/
.brHide{
    display: none;
}

.cardWindow{
    width: 45vw;
    border-radius: 25px;
}

.manberCardsTotal {
   
}
.manberCard {
    width: 45vw;
    border-radius: 25px;
    padding: 20px;
}

.manberNameTitle{
    flex-direction: column;
    align-items: baseline;
    gap: 4px;
}


.manberCard img {
    width: 15rem;
    height: 15rem;
    object-fit:cover;
    object-position: top;
}
.manberCard p{
    padding-top: 4px;
    font-size: 16px;
}

.teams{
    gap: 24px;
    padding: 0 24px;
    margin: 48px 0;
}

.team_left_info > p{
    font-size: 20px;
}

.team_left_info > a{
    margin-left: 0;
}


/*----RWD環境----*/
.environmentInfo{
    padding-bottom: 48px;
}

.envirnment_up ul p{
    font-size: 20px;
}

.envirnment_up{
    padding: 0 ;
}

.envirnment_up ul {
    justify-content: center;
    gap: 12px   
}

.environmentWindow{
    width: 624px;
}

.environment_down ul{
    
}


.smallcloud {
    height: 10rem;
}

.bigcloud{
    height: 12rem;
}


/*---RWD NEWS----*/
.news{
    padding: 48px 0 ;
}
.news ul{
    gap: 24px;
}

.news ul > li:first-child > img{
    width: 25vw;
}

.date{
    font-size: 20px;
}

.articlelist{
    gap: 12px;
}

.articlelist ol h3{
    font-size: 20px;
}

.articlelist ol{
    gap: 16px;
    flex-direction:column ;
}

.news ul > li:first-child {
    gap: 200px;
}

.activityPhotos{
    padding-bottom: 48px;
}

.article4{
    display: none;
}

}


@media screen and ( max-width: 650px){
.main_slogan,.main_image{
    height: 280px;
}
.idea p{
    font-size: 16px;
}

.service{
    padding:24px  ;
}

.rightside_info ol{
    padding: 0 12px;
    margin-left: 0rem;
}


.teams{
    flex-direction: column;
    gap: 0;
    margin-top: 24px;
}

.team_left_info{
    display: grid;
    place-items: center;  /*內元素置中*/
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
}

.team_left_title{
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 24px;
}
.team_left_info > p{
    grid-column: 2/4;
    grid-row: 2/3;
}
.team_left_info > a{
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 0;
}



.team_left_info > p{
    margin: 0;
}




.cards{
    margin-top: 12px;
    gap: 12px;
}


.team_left_title{
    gap: 0;
}

.cardWindow{
    width: 70vw;
}

.manberCardsTotal{

}

.manberCard{
    width: 70vw;
}

.manberNameTitle{
    flex-direction: row;

}

.manberName{
    font-size: 24px;
}
.manberJobTitle{
    font-size: 18px;
    
}



/*環境照RWD*/
.envirnment_up ul li:last-child{
    flex-shrink:0 ;
}




.environment_down{
    gap: 12px;
}

.environmentWindow{
    width: 70vw;
}


.environment_down ul{
    
}

.environment_down ul li{
    width: 70vw;
    height: 45vw;
}


}


@media screen and (max-width: 500px) {
.rightside_info ol h2{
    font-size: 24px;
}

.service ul::before{
    width: 400px;
    height: 400px;
}
    
}







@media screen and ( max-width: 431px){
  
.yellowbird , .bluebird{
    width: 40px;
    height: 40px;
    margin-right: 0;
}

.main_image {
    background-position-x: 50px;
    background-position-y: 40%;
}

.main_slogan::after{
    height: 40vh;
}

.slogan{
    padding: 12px;
    border-radius: 0 1rem 1rem 0;
    top: auto;
    bottom: 5%;
}

.name_anime h1{
    font-size: 24px;
}
.slogan p{
    font-size: 14px;
}
.slogan p:last-child{
    margin-top: 8px;
    font-size: 12px;   
    
}

.idea p{
    font-size: 12px;
    width: 100vw;
    box-sizing: border-box;
}


.service {
    padding: 24px;
}

.service ul{
    flex-direction: row-reverse;
}

.rightside_info ol h2{
    font-size: 28px;
}

.rightside_info ol li{
    align-items: center;
    /* justify-content: center; */
}

.rightside_info ol p{
    font-size: 16px;
    margin: 0 0 16px;
    padding: 0 12px;
}

.rightside_info ol a{
    margin: 0 auto 0 12px;
}

.service ul::before{
    width: 300px;
    height: 300px;
    animation: none;
}

.rightside_info ol a,.team_left_info > a,.news .morebtn a{
    width: 10rem;
    height: 8rem;
    font-size: 20px;
    text-align: center;
    line-height: 8rem;
}

.rightside_info ol a::after, .team_left_info > a::after,.news .morebtn a::after{
    display: none;
}


/*---RWD團隊----*/
.teams{
    flex-direction: column;
    gap: 0;
    margin-top: 24px;
}

.team_left_info{
    display: grid;
    place-items: center;  /*內元素置中*/
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
}

.team_left_title{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 24px;
}
.team_left_info > p{
    grid-column: 1/3;
    grid-row: 2/3;
}
.team_left_info > a{
    grid-column: 3/4;
    grid-row: 1/3;
}



.team_left_info > p{
    margin: 0;
    font-size: 16px ;
}

.team_left_info > a{
    margin-left: auto;
}



.cards{
    margin-top: 12px;
    gap: 12px;
}




.manberCard{
    flex-direction: column;
}

.team_left_title h2{
    font-size: 28px;
}

.team_left_title{
    gap: 0;
}

.cardWindow{
    width: 70vw;
}

.manberCardsTotal{

}

.manberCard{
    width: 70vw;
}

.manberNameTitle{
    flex-direction: row;
    justify-content: center;
}

.manberName{
    font-size: 24px;
}
.manberJobTitle{
    font-size: 18px;
    
}



/*----RWD環境----*/
.envirnment_up ul{
    flex-direction: column-reverse;
    padding:24px;
    
}

.envirnment_up ul p{
    width: 75vw;
    font-size: 16px;
    text-align: center;
}

.envirnment_up ul li:last-child h2{
    font-size: 28px;
}
.environmentInfo{
    gap: 12px;
    padding-top: 0;
}



.environment_down{
    gap: 12px;
    padding: 0 8px;
}

.environmentWindow{
    width: 70vw;
}


.environment_down ul{
    
}

.environment_down ul li{
    width: 70vw;
    height: 45vw;
}

.cloudanime{
    display: none;
}



/*RWD news*/

.news{
    padding-top: 0;
}

.news ul li > img{
    display: none;
}


.news ul{
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}


.news ul > li:first-child{
    align-self: center;
}

.news_title h2{
    font-size: 28px;
}
.articlelist{
    gap: 16px;
}
.date{
    font-size: 18px;
}

.articlelist a{
    padding-bottom: 0;
}

.articlelist a ol {
    gap: 4px;
}

.articlelist ol h3{
    margin-bottom: 4px;
    font-size: 18px;
}

.articlelist ol p{
    font-size: 14px;
}

.articlelist .morebtn a{
    margin-top: 0px;
}


/*----RWD 跑馬燈----*/
.photo_title img{
    width: 40px;
}

.photo_title h2{
    font-size: 28px;
}

.activityPhotos{
    gap: 12px;
}

.activityPhotos{
    gap: 0;
}

.marquee2 , .marquee3{
    top: 40px;
}

.photo_title{
    margin-bottom: 12px;
}
.marquee2, .marquee3{
    top: 52px;
}

/*標題字體大小*/
.rightside_info ol h2,.team_left_title h2, .envirnment_up ul li:last-child h2,.news_title h2,.photo_title h2{
    font-size: 24px;
}


}


@media screen and ( max-width: 391px){
.br1{
    display: none;
}

.service{
    height: 45vh;
}

.envirnment_up ul{
    padding: 0;
}

.envirnment_up ul p{
    width: 80vw;
}

.rightside_info ol p{
    font-size: 14px;
    margin: 4px 16px 0;
    padding: 0;
}

.rightside_info ol h2{
    line-height: 60px;
}


.activityPhotos{
    gap: 0;
}

.environment_down{
    gap: 12px;
}



.teams{
    margin-top: 0px;
}

.team_left_info > p{
    font-size: 14px;
    grid-column: 1/3;
    grid-row: 2/3;
}

.team_left_info > a{
    grid-column: 3/4;
    grid-row: 1/3;
    margin-top: 24px;
}

.team_left_title{
    grid-column: 1/3;
    grid-row: 1/2;
}


.marquee2 , .marquee3{
    top: 40px;
}

.team_left_info > a{
    margin-left: 0;
}

.rightside_info ol a,.team_left_info > a,.news .morebtn a{
    width: 8rem;
    height: 7rem;
    line-height: 7rem;
}


.news ul{
    padding: 0 24px 24px;
}


}


