@import url(../reset.css);


.banner{
    background-image: url(../img/photo/banner/04.jpg);
    width: 120rem;
    height: 25rem;
    background-size:cover;
    background-position: center;
    opacity: 80%;
    margin-bottom: 4.8rem;    
}


 /* <!---------- 標題 ----------> */
.wrapper > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
 }

.wrapper > h1 img{
    height: 6.5rem;
}


.wrapper > p{
    font-size: 2.4rem;
    line-height: 120%;
    color: #BD8E3D ;
    text-align: center;
    margin: 2.4rem 0 4.8rem;
}

.content{
    width: 80%;v
    padding: 0 24px;
    box-sizing: border-box;
    margin: 0 auto;
}


.content > h2{
    display: flex;
    margin-bottom: 24px;
}

.content label{
    font-size: 2.4rem;
    line-height: 120%;
    margin-right: 1.6rem;
}

.content input{
    height: 5.2rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 1rem;
    font-size: 1.8rem;
}

.info{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* padding: 0 48px; */
    gap: 25px;
}


.info1 ,.info2 ,.info3{
    display: flex;
    flex-direction: column;
}


.info .error{
    border: 1px solid red;
}


/* <!------------送出查詢------------> */
#btn{
    display: block;
    font-size: 2.4rem;
    line-height: 100%;
    background-color: #f0ca3b;
    border: transparent;
    border-radius: 999px;
    padding: 2rem 4rem;
    font-family: 'Kiwi Maru', 'Kosugi Maru','Noto Sans TC','Arial';
    margin: 48px auto ;
}


/*-------------RWD-------------*/
@media screen and (max-width: 820px){
.banner{
    width: 100vw;
}

.content h2{
    padding: 0;
    font-size: 28px;
}


.content .btn{
    margin-bottom: 48px;
}

.content > p{
    margin-bottom: 48px;
}

}



@media screen and (max-width: 550px){
.info{
    grid-template-columns: 1fr;
    gap: 12px;
}

.wrapper > p{
    font-size: 20px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 24px;
}

}


@media screen and (max-width: 430px){
.wrapper > h1 img{
    width: 4rem;
    height: 4rem;
}

.wrapper h1 span{
    font-size: 32px;
}

.info{
    grid-template-columns: 1fr;
    gap: 12px;
}


#name{
    margin-bottom: 24px;
}


}

@media screen and (max-width: 390px){



.info{
    display: flex;
    flex-direction: column;
}


.wrapper > h1 img{
    width: 4rem;
    height: 4rem;
}

.wrapper > p{
    padding: 5px;
}

.wrapper h1 span{
    font-size: 32px;
}

.info1,.info2{
    flex-direction: column;
    padding-left: 0;
}

.content label{
    margin: 0;
}





#name, #birth{
    margin-bottom: 24px;
    margin-right: 0;
    /* width: 100%; */
}



}