@import url(../reset.css);


/*-----------治療流程-----------*/
.flow{
    padding-top: 4.8rem; ;
}

.title img{
    width: 6.5rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.flow ol{
    display: flex;
    gap: 2.4rem ;
    justify-content: center;
    margin-top: 3.6rem;
}

.flow li{
    width: 20rem;
    height: 20rem;
    background-image: url(../img/流程圓框.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center  bottom;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #BD8E3D;

}

.flow span{
    font-size: 3.2rem;
    line-height: 120%;
}

.flow ol > li:nth-child(even){
   background-image: url(../img/流程圓框2png.png);
}

.flow > img{
    display: none;
}


/* -------------隔線-------------*/
.wrapper > img{
    display: block;
    margin: 3.6rem auto 4.8rem;

}



/* -------------初次評估-------------*/
.first_assess{
    display: flex;
    gap: 3.6rem ;
    padding-left: 15rem;
}

.assess_left{
    width: 60rem;
}

.yellowbird{
    width: 6.5rem;
}

.assess_left li{
    display: flex;
    gap: 0.4rem;
    align-items: center;

}

.assess_left ul li:last-child{
    color:#F6A89E;
    font-size: 2.4rem;
    line-height: 120%;

}

.assess_left p{
    font-size: 2.4rem;
    line-height: 160%;
    margin-top: 3.6rem;
}




/* -------------預約初談-------------*/
.appointment{
    margin-bottom: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}


.appointment ul{
    width: 100%;
    padding: 0 12rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.8rem;

    margin-bottom: 0.4rem;
}

.weeks{
    display: flex;
    gap: 0.4rem;
}

.weeks button{  
    all: unset;   /*移除按鈕預設*/
    cursor: pointer; /*移過去有手手*/


    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(25, 25, 25);
    border: 1px solid rgb(25, 25, 25);
    padding: 1rem 1rem;
    border-radius: 999px;
}

.weeks button:hover{
    background-color: #ccc;
    

}

.appointment ul li:last-child{
    display: flex;
    justify-content: space-between;
}

.appointment ul li:last-child p{
    font-size: 2.4rem;
    line-height: 120%;
}

.appointment ul li:last-child p:last-child{
    color:#F6A89E;
}



/* <!--日期表格--> */
table{
    background-color:#FFF8E5;
    height: 100%;
}

table th{
    font-size: 2.4rem;
    line-height: 160%;
    text-align: center;
    border: 5px solid #FFF8E5;
    padding: 1rem 5rem;
}

table td{
    font-size: 2.4rem;
    line-height: 160%;
    text-align: center;
    border: 5px solid #FFF8E5;
    padding: 1rem 5rem;  
}

table .date{
    display: flex;
    gap: 1.2rem;
}

table .yesno{
    background-color: #FFF;
}

.date_inner{
    display: flex;
    flex-direction: row;
    gap: 24px  ;
}



.yesno{
  background-color: #fff;
}

.yesno a{
  display: block;
  text-decoration: none;
  font-size: 2.4rem;
  color: rgb(25, 25, 25);
  opacity: 100%;

  display: none;
}




/* hover效果*/
.yesno:hover{
  animation: yesno .5s linear forwards;
  background-color: transparent;
  padding: 0;
}

.yesno:hover a{
  display: block;
  animation: yesnoa 1s ease infinite;

}

.yesno:hover i{
  display: none;
}

@keyframes yesno{
  0%{
    transform: scale(1);
    opacity: 0;

  }
  100%{
    transform: scale(1);
    opacity: 100%;
  }
}

@keyframes yesnoa {
  0%{
    transform: scale(1);
    color: rgb(25, 25, 25);
  }
  100%{
    transform: scale(1.2);
    color: #F6A89E;
  }
}




/*--------------RWD---------------*/
@media screen and (max-width: 820px) {

.flow span,.flow h2{
    font-size: 24px;
}

.flow ol{
    gap: 4px;
}

.flow li {
    width: 20vw;  
    height: 20vw;
}

.wrapper > img{
    width: 90vw;
}

.hug{
    width: 25vw;
}

.first_assess{
    max-width: 90vw;
    padding-left: 5vw ;
}

.appointment{
    max-width: 85vw;
    margin: 0 auto 48px;
}


.appointment ul{
    padding: 0;
}

.appointment ul li:last-child{
    flex-direction: column;
    gap: 0.4rem;
}

.appointment ul li:last-child p:last-child {
    align-self: flex-end;
    font-size: 18px;
}





table{
    
}

table .date{
    display: flex;
    flex-direction: column;
    gap:0px;
    padding: 12px;

    /* vertical-align: baseline; */
}

table td{
    padding: 10px 10px;
    white-space: normal;

}

table th{
    padding: 0;
}

.yesno{
    width: 20vw;
    vertical-align: middle;
}

.time{
    padding: 10px 10px;
    font-size: 24px;
    white-space: normal;
    word-break: break-word;
    text-align: center;
}

.yesno-inner{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 12px;
   height: 100%;

    

}

.yesno i{
    display: none;
    margin: 0;
    padding: 0;
}

.yesno a{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.date_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


.date_inner p{
    line-height: 100%;
    margin: 0;
    text-align: center;
}

.date_inner span{
    line-height: 100%;
    margin: 0;
    text-align: center;
}

.yesno:hover{
    animation: none;
    background-color: inherit;
}

.yesno:hover a{
    animation: none;
    background-color: #fff;
}

.filled{
    display: none;
}

}



@media screen and (max-width: 435px){

.flow ol{
    display: none;
}

.title{
    font-size: 32px;
}

.title img{
    width: 40px;
}


.flow > img{
    display: block;
    width: 95vw;
    margin: 24px auto 0;
}

.first_assess{
    flex-direction: column;
}

.assess_left ul{
    width: 90vw;
}

.assess_left ul li{
    width: 90vw;
}

.assess_left ul li:last-child{
    font-size: 18px;
}

.assess_left{
    width: 90vw;
}

.assess_left p{
    width: 90vw;
    font-size: 18px;
    margin-top: 24px;
}

.hug{
    display: none;
}


.appointment{
    gap: 0 ;
}

.yesno{
    padding: 0;
}

table .date{
    white-space: normal;
    word-break: break-word;
    text-align: center;
    padding: 12px 0;
}

.time{
    font-size: 18px;
    padding: 0 5px;
}

.date_inner p{
    font-size: 18px;
    padding: 0;
}

table th{
    padding: 0 10px;
}

.date_inner{
    flex-direction: column;
    /* padding: 12px 0; */
}

.weeks{
    justify-content:space-between ;
}

.dates{
    text-align: center;
    margin-bottom: 8px;
}


.appointment ul li:last-child p:last-child{
    font-size: 16px;
    align-self: center;
}

.yesno a{
    margin: 0;
    padding: 10px 10px;
    line-height: 100%;
}

}


@media screen and (max-width: 391px){

.flow ol{
    display: none;
}

.title{
    font-size: 32px;
}

.title img{
    width: 40px;
}


.flow > img{
    display: block;
    width: 95vw;
    margin: 24px auto 0;
}

.first_assess{
    flex-direction: column;
}

.assess_left ul{
    width: 90vw;
}

.assess_left ul li{
    width: 90vw;
}

.assess_left ul li:last-child{
    font-size: 18px;
}

.assess_left{
    width: 90vw;
}

.assess_left p{
    width: 90vw;
    font-size: 18px;
    margin-top: 24px;
}

.hug{
    display: none;
}


.dates{
    text-align: center;
}

.appointment ul li:last-child{
   gap: 8px;
}

.appointment ul li:last-child p:last-child{
    font-size: 14px;
    align-self: center;
}

.weeks{
    justify-content:space-between ;
}
.weeks button{
    font-size: 14px;
    padding: 8px;
}

.yesno{
    padding: 0;
}

table .date{
    white-space: normal;
    word-break: break-word;
    text-align: center;
    padding: 12px 0;
}

.time{
    font-size: 18px;
    padding: 0 5px;
}

.date_inner p{
    font-size: 18px;
    padding: 0;
}

table th{
    padding: 0 10px;
}

.date_inner{
    flex-direction: column;
}


.yesno a{
    margin: 0;
    padding: 10px 10px;
    line-height: 100%;
}

}


