@import url(../reset.css);


/* ---------- 上方橫幅 ----------*/
.banner{
    background-image: url(../img/photo/banner/04.jpg);
    width: 120rem;
    height: 25rem;
    background-size:cover;
    background-position: center;
    opacity: 80%;F
    margin-bottom: 4.8rem;
}


  /* <!---------- 標題 ----------> */
.wrapper > h1{
    font-size: 4.8rem ;
    display: flex;
    gap: 1.2rem ;
    align-items: center;
    justify-content: center;
    
    margin: 1.6rem auto;
}

.wrapper > h1 img{
    width: 6.5rem;
}

 /* <!---------- 時間告示 ---------->  */
 .wrapper > h2{
    color: #BD8E3D;
    text-align: center;
 }



/* <!---------- 預約資料填寫 ---------->  */
.childinfo{
    margin-top: 7.2rem;
    width: 80%;
}

.childinfo > h2{
    display: flex;
    align-items: center;
    gap: 0.4rem; ;
    margin-bottom: 24px;
}



.childinfo ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem ;

    font-size: 2.4rem;
    line-height: 120%;
}






.info{
    display: flex;
    gap: 48px;
}

.info li{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.info li input{
    padding-left: 2rem;
    font-size: 1.8rem;
    height: 5.2rem;
    border-radius: 1rem;

    border: 1px solid rgb(204, 204, 204);
}

#childname{
    margin-bottom: 1.6rem;
}

.childinfo, .parentinfo{
    padding: 0 24px;
    box-sizing: border-box;
    margin-left: auto ;
    margin-right: auto;
}


.childinfo .problem{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.problem ol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px   ;
}

.problem ol li label{
    font-weight: 200;
}

/* !---------- 隔線 ----------> */
.wrapper > img{
    display: block;
    margin: 5.2rem auto;
}


/* <!---------- 聯絡人資訊填寫區 ----------> */
.parentinfo{
    width: 80%;
    font-size: 2.4rem;
    margin-bottom: 7.2rem;
}

.parentinfo ul{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.parentinfo > h2{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    gap: 0.4rem; ;
    margin-bottom: 24px;
}


.pamessage{
    display: flex;
    flex-direction: column;
}

.pamessage input{
    padding-left: 2rem; 
    box-sizing: border-box;
    font-size: 1.8rem;
    width: 100%;
    height: 5.2rem;
    line-height: 5.2rem;
    border-radius: 1rem;
}

#paname, #phone{
    margin-bottom: 1.2rem;
}

#message{
    width: 100%;
    margin-top: 0.4rem;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* <!---------- 確定預約按鈕 ----------> */
.wrapper .btn{
    display: flex;
    justify-content: center;
    margin-bottom: 4.8rem ;

}

.wrapper .btn a{
    text-decoration: none;
    color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
}

.wrapper .btn span{
    font-size: 2.4rem;
    line-height: 100%;
    padding: 2rem 4rem;
    background-color: #F0CA3B;
    border-radius: 999px;
}

/*-------------RWD-------------*/
@media screen and (max-width: 820px){
.banner{
    width: 100vw;
}

.wrapper > h2{
    font-size: 24px;
}

.childinfo{
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top:48px;
}

.parentinfo{
    flex-direction: column;
    align-items: center;
    gap: 24px; 
    margin-bottom: 48px;
}

.wrapper > img{
    width: 90vw;
    margin: 24px auto;
}

.wrapper > h1 img{
    width: 50px;
}

}

@media screen and (max-width: 730px){
.info{
    flex-direction: column;
    gap: 24px;
}

.problem ol{
    grid-template-columns:1fr 1fr;
}
}

@media screen and (max-width: 550px){
.problem ol{
    grid-template-columns:1fr;
    gap: 8px;
}
}

@media screen and (max-width: 431px){
.wrapper > h1 img{
    width: 4rem;
}

.wrapper h1 span{
    font-size: 32px;
}



.wrapper h2{
    font-size: 28px;
    padding: 0 10px;
    box-sizing: border-box;
}

.wrapper > h2{
    padding: 0 12px;
    font-size: 24px;
}

.wrapper > img{
    width: 90vw;
    margin: 24px auto;
}

.childinfo{
    margin-top: 48px;
    gap: 0px;
}

.parentinfo{
    margin-bottom: 24px;
}

.childinfo,.parentinfo{
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.info{
    flex-direction: column;
    gap:24px;
}

.problem ol{
    grid-template-columns: 1fr;
}

#message{
    height: 30vh;
}


.wrapper h2{
    align-self: baseline;
}


.childinfo h2{
    align-self: center;
}

.parentinfo h2{
    flex-direction: row;
    align-self: center;
}



}

@media screen and (max-width: 391px){
.wrapper > h1 img{
    width: 4rem;
}

.wrapper h1 span{
    font-size: 32px;
}

.wrapper h2{
    font-size: 28px;
    padding: 0 10px;
    box-sizing: border-box;
}

.wrapper > h2{
    padding: 0;
    font-size: 24px;
}

.wrapper > img{
    width: 90vw;
    margin: 24px auto;
}

.childinfo{
    margin-top: 24px;
    gap: 0px;
}

.parentinfo{
    margin-bottom: 24px;
}

.childinfo,.parentinfo{
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.info{
    flex-direction: column;
    gap:24px;
}

.problem ol{
    grid-template-columns: 1fr;
}

#message{
    height: 30vh;
}


.childinfo h2{
    align-self: baseline;
    padding-left: 30px;
}


.parentinfo h2{
    flex-direction: row;
    padding-left: 30px;

}


}